body { 
       background-image: url(fond_Ecran1.jpeg);
       background-repeat: no-repeat;
       font-family:'Courier New', Courier, monospace, sans-serif;
       color: white;
     
       
} 

table, td, tr {
        border-style: solid;
        border-width: 2px;
        border-color:white;
        border-radius: 5px;
}

h1,h2,h3,h4,h5,h6 {
       color: white;
       font-size: 1.5em;

}

a:hover {
       background-color: red;
     }

.moi {
       width: 15em;
       height: 15em;
       }


