body { 
       background-image: url(fond_Ecran1.jpeg);
       background-repeat: no-repeat;
       font-family:'Courier New', Courier, monospace, sans-serif;
       color: white;
     
       
} 

table, td, tr {
        border-style: solid;
        border-width: 2px;
        border-color:white;
        border-radius: 5px;
}

h1 {
       color: white;
}
h2 {
       color: white;
}
h3 {
       color: white;
}

a:hover {
       background-color: red;
     }

.moi {
       width: 15em;
       height: 15em;
       }


